section {
    padding: 10px;
    margin: 10px 0;
    display: inline-block;
    line-height: 1.3;
    justify-content: center;
    width: -webkit-fill-available;
}

section ul {
    padding-left: 5%;
    list-style: disc;
    width: 100%;
}

section li {
    width: 100%;
}

section h2 {
    border-bottom: 3px solid black;
    margin: 10px 0;
    padding-bottom: 7px;
}

.experience h4 {
    font-style: italic;
}

.education p {
    font-style: italic;
}