:root {

}
a {
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: red;
    margin-bottom: 0;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 45px;
}

header div {
    background-color: blue;
    margin: 20px 0; 
    padding-left: 30px;
}

header nav {
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    padding: 10px;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    background-color: red;
}

.flex-row {
    display: flex;
    flex: 0 50%;
}