/* Global Styles and Variables */
:root {
    --primary-color: hsl(221, 55%, 34%);
    --secondary-color: rgb(48, 48, 54);
    --tertiary-color: #80c4c2;
}

* {
    margin: 0;
    padding: 0;
    color: var(--secondary-color);
    font-family: sans-serif;
}


a {
    text-decoration: none;
}

/* Header and Nav Styles */
header {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-color);
    align-items: center;
    height: 100px;
}

header h1 {
    font-size: 4.5vw;
    color: var(--secondary-color);
}

header span {
    font-size: .8vw;
    font-weight: lighter;
    color: var(--secondary-color);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    align-items: center;
}

header div {
    background-color: var(--tertiary-color);
    margin: 20px 0; 
    padding: 0 10px 0 40px;
}

header nav {
    margin: 20px;
    display: flex;
}

header ul {
    margin-right: 30px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    align-items: center;
    font-size: 20px;
    margin: 7px;

}

header nav ul li a {
    border-bottom: 4px solid var(--tertiary-color);
    color: var(--tertiary-color);
    padding: 0 10px 3px 10px;
}



/* Hero styles */
.hero {
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 215px;
    width: 100%;
}

.hero h2 {
    margin: 0 5px;
}

.hero-sub {
    background-color: var(--tertiary-color);
    font-size: 28px;
    margin: 0 75px 20px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 3px solid black;
}

.break {
    display: none;
}

.me {
    height: 75px;
    width: 75px;
    border: 4px solid var(--tertiary-color);
}

/* About me section styles */
section {
    display: flex;
    justify-content: space-between;
    margin: 40px 40px 0 0;
}

.title {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 20%;
    color: var(--secondary-color);
    justify-content: flex-end;
    height: auto;
}

.content {
    flex-basis: 70%;
    flex-grow: 3;
    margin: 0 3.5% 0 0;
    align-items: flex-start;
    border-left: 3px solid var(--secondary-color);
    padding-left: 20px;
    height: auto;
}

.section-title {
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--secondary-color);
    text-align: right;
    align-items: flex-end;
    margin-right: 10px;
}

.flex-row {
    display: flex;
}

/* Work section styles */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}

.break {
    height: 0;
    flex-basis: 100%;
}

.card {
    display: flex;
    background-size: cover;
    flex-basis: 49%;
    opacity: 0.8;
    border: 4px solid var(--tertiary-color);
    box-sizing: border-box;
    height: 125px;
    margin: 10px 0;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 15px;
    box-sizing: border-box;
}

.card-text {
    opacity: 1;
}

.card:hover {
    opacity: 1;
}

.card1 {
    background-image: url(../images/02-portfolio-4.jpg);
    flex-basis: 100%;
    height: 400px;
    margin: 0;
}

.card2 {
    background-image: url(../images/02-portfolio-1.jpg);
}

.card3 {
    background-image: url(../images/02-portfolio-2.jpg);
}

.card4 {
    background-image: url(../images/02-portfolio-3.jpg);
    margin-bottom: 0;
}

.card5 {
    background-image: url(../images/02-run-buddy.jpg);
    margin-bottom: 0;
}

.card-text {
    background-color: var(--tertiary-color);
    padding: 10px;
}

/* Contact me section styles */
.contact {
    align-items: center;
    padding: 40px;
    height: auto;
}

.contact-title {
    height: fit-content;
}

.contact ul {
    align-items: center;
}

.contact li {
    padding: 5px;
    border-bottom: 3px solid var(--secondary-color);
    font-size: 1.5vw;
}

#contact-me {
    margin-bottom: 10px;
}

/* MEDIA QUERY FOR 1080p DESKTOP DISPLAYS */
@media screen and (max-width: 1080px) {

}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
   * {
       padding: 0;
       margin: 0;
   }

   br {
       display: none;
   }
    /* Header Styles */
    header {
        flex-wrap: wrap;
        align-items: flex-start;
        height: 150px;
    }

    header div {
        width: 100%;
        height: 75px;
        margin: 0;
        text-align: center;
        padding: 0;
    }
    
    header h1 {
        font-size: 70px;
    }

    header span {
        font-size: 15px;
        transform: rotate(0deg);
    }

    header nav {
        width: 100%;
        justify-content: center;
    }

    header ul {
        width: 100%;
        justify-content: center;   
        align-items: flex-start; 
        margin: 0;
    }

    /* Work section styles */
    section {
        flex-wrap: wrap;
        padding: 0 60px;
        margin: 10px 0;
    }

    .title {
        flex-basis: 100%;
        width: auto;
        justify-content: flex-start;
        text-align: center;
        padding: 10px 0;
    }

    .section-title {
        margin-right: 0;
        font-size: 55px;
    }
    
    .content {
        border-left: none;
        border-top: 3px solid var(--secondary-color);
        padding: 20px 0;
        margin: 0 0 20px 0;
        line-height: 1.3;
    }

    .contact ul {
        padding: 0 20px;
        display: flex;
        flex-wrap: wrap;
    }
}

/* MEDIA QUERY FOR MOBILE PHONES */
@media screen and (max-width: 768px) {
    .hero {
        justify-content: center;
    }

    .hero-sub {
        margin: 0 0 20px 0;
    }

    .hero h2 {
        font-size: 6vw;
    }

    .me {
        height: 12vw;
        width: 12vw;
    }

    section {
        padding: 0 20px;
    }
    
    .break {
        display: none;
    }

    .card {
        width: 100%;
        flex-basis: 100%;
        height: 150px;
    }

    .contact ul {
        padding: 0;
    }
    .contact li {
        width: auto;
        flex-basis: 100%;
        border-bottom: none;
    }

    .contact a {
        border-bottom: 3px solid var(--primary-color);
        font-size: 20px;
    }
}

/* MEDIA QUERY TO FIX NAV LINK SCALE ON SMALLER DEVICES */
@media screen and (max-width: 500px) {
    header nav ul li {
        font-size: 15px;
    }
}

/* MEDIA QUERY FOR SMALLER MOBILE DEVICES */
@media screen and (max-width: 425px) {
    header div {
        display: none;
    }

    header nav {
        align-items: center;
        justify-content: center;
    }

    header ul {
        align-items: center;
        justify-content: space-around;
    }

    header nav ul li {
        flex-basis: 40%;
        justify-content: center;
        text-align: center;
        flex-wrap: nowrap;
        padding: 15px 0;
        margin: 0;
    }

    header a {
        justify-content: center;
        text-align: center;
    }

    .me {
        border: 5px solid black;
        height: 30vw;
        width: 30vw;
    }

    .hero {
        width: auto;
        align-items: center;
    }

    .hero h2 {
        background-color: var(--tertiary-color);
        margin-top: 10px;
        padding: 10px;
        border: 3px solid black;
        align-self: flex-end;
    }

    .hero .break {
        display: flex;
        flex-basis: 100%;
    }

    .hero-sub {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .section-title {
        font-size: 25px;
    }

    .card {
        height: 100px;
    }
}